.page {
  background-color: #2c2e30;
  height: 100%;
}

.header {
  margin-bottom: 2rem;
}

.title {
  padding: 1rem;
  color: #d8d8d8;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.mainframe {
  height: 100%;
  align-items: stretch;
}

.heading {
  color: #adadad;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.button-row {
  padding: '1rem';
  text-align: center;
}
